:root {
    font-size: 16px;
    color: black;
    text-align: left;
}
fieldset {
    width: 100%;
    max-width: 25rem;
}

fieldset label, fieldset label>input {
    display: block;
    width: 100%;
    max-width: 20rem;
}

fieldset label {
    margin: 2rem;
}

fieldset div {
    margin-left: 2rem;
}

fieldset>input {
    margin: 0 0 2rem 2rem;;
}

#rate {
    margin-bottom: .5rem;
}

fieldset label>input {
    padding: .75rem;
}

#btn {
    display: block;
    margin-top: 1rem;
    background-color: rgb(85, 7, 7);
    padding: .75rem;
    color: white;
    border-radius: 10px;
}

#btn:hover {
    background-color: white;
    color: rgb(85, 7, 7);
}