@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Fraunces:wght@500&family=Fredericka+the+Great&family=Short+Stack&display=swap");

body{
    max-width: 960px;
    justify-self: center;
    margin: auto;
    background-color: snow;
    padding-top: 30px;
    font-family: "Comic Neue";
    font-size:large;
}

header, footer{
    color: whitesmoke;
    background-color: rgb(5, 60, 102);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

h1 {
    text-align: center;
    align-self: center;
    font-size: 300;
    font-weight: bolder;
}

img{
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

header {
    display:grid;
    grid-template-columns: 135px auto;
    align-items: center;
}

main {
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
}

main h2 {
    font-family: "Fredericka the Great";
}

main ul {
    line-height: 40px;
}

footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
}