@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Fraunces:wght@500&family=Fredericka+the+Great&family=Short+Stack&display=swap");

body{
    max-width: 100em;
    background-color: snow;
    padding: 2rem;
    font-family: "Comic Neue";
    font-size: large;
}

header, footer{
    color: whitesmoke;
    background-color: rgb(5, 60, 102);
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(87, 84, 84);
}

h1 {
    text-align: center;
    align-self: center;
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 1rem;
}

img{
    padding: 1rem;
    border-radius: 10px;
}

header {
    display:grid;
    grid-template-columns: 135px auto;
    align-items: center;
}

main h2 {
    font-family: "Fredericka the Great";
}

main ul {
    line-height: 40px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

p #copyright {
    padding: .5rem;
    align-self: center;
}

footer p {
    padding: .5rem;
}

